<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Doctor Secret Room</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header th:replace="header.html :: top">
        Header TODO
    </header>
    <section>
        <h1 th:text="|Welcome ${doctorname}!|">Welcome $doctorname</h1>
        <h3 th:text="|Your number is ${doctornumber}!|">Your number is $doctornumber</h3>
    </section>
    <footer th:replace="footer.html :: bottom">
        Footer TODO
    </footer>
</body>